extends layout
block content
  .topNav
    #logo PAVILLIO
  .mainCont
    #infoNav
      #albumArt
        img(src= "#{album.image}")
      #artistInfo
        #artist #{album.artist}
        #album #{album.title}
    .reviews
  #reviews
    #critRevs Critic Reviews
      #emptyspot
      #review
    #usrRevs User Reviews
      #emptyspot
      #review
