extends layout
block content
  .topNav
    #logo PAVILLIO
  .mainCont
    #infoNav
      #albumArt
        img(src= "/stylesheets/images/art.jpg")
      #artistInfo
        #artist Kanye West
        #album My Beautiful Dark Twisted Fantasy
    .reviews
      
